<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <th:block th:replace="~{fragments/resources :: style}"></th:block>
  <title>Foto</title>
</head>
<body>
  <nav th:replace="~{fragments/navbar :: navbar('add', '', false)}"></nav>
  <div class="container">
    <form id="new-photo-form" method="post" th:object="${newPic}" th:action="@{/photos/create}" enctype="multipart/form-data">
      <!--title-->
      <div class="mb-3">
        <label for="title" class="form-label">Add a new title</label>
        <input type="text" class="form-control" id="title" aria-describedby="emailHelp" th:field="*{title}" th:errorClass="is-invalid">
        <div th:if="${#fields.hasErrors('title')}" class="invalid-feedback">
          <ul>
            <li th:each="err : ${#fields.errors('title')}">[[${err}]]</li>
          </ul>
        </div>
      </div>

      <!--description-->
      <div class="mb-3">
        <label for="description" class="form-label">Add description</label>
        <textarea class="form-control" id="description" rows="4" th:field="*{description}"></textarea>
        <div th:if="${#fields.hasErrors('description')}" class="invalid-feedback">
          <ul>
            <li th:each="err : ${#fields.errors('description')}">[[${err}]]</li>
          </ul>
        </div>
      </div>

      <!--image file (Optional)-->
      <div class="mb-3" th:object="${imageForm}">
        <label for="cover" class="form-label">Choose an image(Optional)</label>
        <input class="form-control" id="cover" th:field="*{multipartFile}" type="file" th:errorClass="is-invalid">
        <div th:if="${#fields.hasErrors('multipartFile')}" class="invalid-feedback">
          <ul>
            <li th:each="err : ${#fields.errors('multipartFile')}">[[${err}]]</li>
          </ul>
        </div>
      </div>

      <!--photo url(Mandatory)-->
      <div class="mb-3">
        <label for="url" class="form-label">Paste the image's url(Mandatory)</label>
        <input type="text" class="form-control" id="url" aria-describedby="emailHelp" th:field="*{url}" th:errorClass="is-invalid">
        <div th:if="${#fields.hasErrors('url')}" class="invalid-feedback">
          <ul>
            <li th:each="err : ${#fields.errors('url')}">[[${err}]]</li>
          </ul>
        </div>
      </div>

      <!--visibility-->
      <p>Do you want to show your photo? (you can always change it later)</p>
      <div class="form-check">
        <input class="form-check-input" type="radio" th:field="*{Visible}" value="0" id="visibility-no" name="visibility">
        <label class="form-check-label" for="visibility-no">
          No
        </label>
      </div>
      <div class="form-check mb-3">
        <input class="form-check-input" type="radio" th:field="*{Visible}" value="1" id="visibility-yes" name="visibility">
        <label class="form-check-label" for="visibility-yes">
          Yes
        </label>
      </div>

      <!--photo categories-->
      <p>Add which type of category your photo belongs to</p>
        <div class="form-check mb-3" th:each="cat : ${categories}">
          <input class="form-check-input" type="checkbox" th:field="*{categories}" th:value="${cat.id}" th:id="|category_${cat.id}|">
          <label class="form-check-label" th:for="|category_${cat.id}|" th:text="${cat.type}"></label>
        </div>

      <button class="btn btn-success" type="submit">Create</button>
    </form>
  </div>
</body>
</html>