<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <th:block th:replace="~{fragments/resources :: style}"></th:block>
    <title>Photo Library</title>
</head>
<body>
<nav th:replace="~{fragments/navbar :: navbar('pics', ${keyword}, true)}"></nav>
    <div class="container">
        <th:block th:if="${pics.size() > 0}">
            <table class="table table-dark table-striped mt-3">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Visibility</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                <tr th:each="pic : ${pics}" th:object="${pic}" >
                    <td class="align-middle" th:text="*{title}"></td>
                    <td class="align-middle">
                        <span th:unless="${pic.description == ''}" th:text="*{description}"></span>
                        <span th:if="${pic.description == ''}" >----</span>
                    </td>

                    <td class="align-middle " >
                        <i th:if="*{visible}" class="fa-solid fa-eye"></i>
                        <i th:unless="*{visible}" class="fa-solid fa-eye-slash"></i>
                    </td>

                    <!-- actions -->
                    <td>
                        <a th:href="@{|photos/${pic.id}|}" class="btn btn-success align-middle"><i class="fa-solid fa-image"></i></a>
                        <a sec:authorize="hasAuthority('ADMIN')" th:href="@{photos/edit/{id}(id=*{id})}" class="btn btn-secondary align-middle"><i class="fa-solid fa-pen"></i></a>

                        <!-- add delete button-->
                        <form sec:authorize="hasAuthority('ADMIN')" id="delete-pizza"  th:method="delete" th:action="@{/photos/delete/{id}(id=*{id})}" class="d-inline">
                            <button type="submit" th:value="*{id}" class="btn btn-danger align-middle"><i class="fa-solid fa-trash"></i></button>
                        </form>
                    </td>

                </tr>
                </tbody>
            </table>
        </th:block>

        <th:block th:if="${pics.size() == 0}">
        <h2 class="text-center">No photos found</h2>
        </th:block>

    </div>

</body>
</html>