<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <th:block th:replace="~{fragments/resources :: style}"></th:block>
    <title>Foto</title>
</head>
<body>
<nav th:replace="~{fragments/navbar :: navbar('', '', false)}"></nav>
    <div class="container" th:object="${pic}" >
        <h2 class="text-center">Here it is your majestic photo</h2>
        <h2 th:text="*{title}" class="text-center"></h2>

        <p th:unless="${pic.description == ''}" th:text="*{description}"></p>
        <p th:if="${pic.description == ''}" >Description not available</p>

        <th:block th:if="${pic.categories}">
            <ul th:each="category : ${pic.categories}">
                <li th:text="${category.type}"></li>
            </ul>
        </th:block>
        <p th:unless="${pic.categories}">No categories related to this photo</p>

        <th:block th:if="${pic.cover == null || pic.cover.content == null}">
            <img th:src="${pic.url}" class="img-fluid" th:alt="${pic.title}">
        </th:block>
        <th:block th:unless="${pic.cover == null || pic.cover.content == null}">
            <img th:src="@{|/images/${pic.cover.id}|}" class="img-fluid" th:alt="${pic.title}">
        </th:block>
    </div>
</body>
</html>