<html xmlns:th="http://www.thymeleaf.org">
<!--navbar-->
<nav th:fragment="navbar(current,keyword,showsearch)" class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Foto</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" th:classappend="${current == 'pics'} ? 'active' : ''" aria-current="page" th:href="@{/photos}">Photo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:classappend="${current == 'add'} ? 'active' : ''" aria-current="page" th:href="@{/photos/create}">Add photo</a>
        </li>
      </ul>
      <form th:if="${showsearch == true}" class="d-flex" role="search" method="get" th:action="@{/photos}" >
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="input" th:value="${keyword}">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" th:href="@{/logout}"><i class="fa-solid fa-right-from-bracket"></i></a>
      </li>
    </ul>
  </div>
</nav>
</html>